# macOS
.DS_Store

# Node.js dependencies
node_modules/

# Next.js build output
.next/
out/
build/

# Firebase functions dependencies & build cache
functions/node_modules/
functions/lib/
functions/.firebase/

# Firebase CLI deploy artifacts
.firebase/
.firebaserc
firebase-debug.log*

# Environment variables and secrets
.env*
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
*.log

# Editor folders
.vscode/